<%- include('../partials/head')-%>
<%- include('../partials/header')-%>

<!-- Main Body Start -->
<main class="mainBody">
    <!-- Sidebar -->
<%- include('../partials/sidebar')-%>

    <!-- sidebar end -->
    <!-- Main Content -->
    <div class="videos">
        <h1>Recommended</h1>

        <div class="videos__container">

            <!-- First Video  -->
            <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- First Video End -->

             <!-- Second Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Second Video End -->

             <!-- Third Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Third Video End -->

             <!-- Fourth Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Fourth Video End -->

             <!-- Fifth Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Fifth Video End -->

             <!-- Sixth Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Sixth Video End -->

             <!-- Seventh Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Seventh Video End -->

             <!-- Eight Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Eight Video End -->

             <!-- Nineth Video  -->
             <div class="video">
                <div class="video__thumbnail">
                    <img src="https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg" alt="">
                </div>

                <div class="video__details">
                    <div class="author">
                        <img src="/images/future.jpeg" alt="future">
                    </div>
                    <div class="title">
                        <h3>Top 5 programming languages to learn</h3>
                        <a href="">WaawFoundation</a>
                        <span>10M Views • 3 Months Ago</span>
                    </div>
                </div>

            </div>
            <!-- Nineth Video End -->

        </div>
    </div>
    <!-- Main Content End -->

    

</main>
<!-- Main Body End  -->

<%- include('../partials/foot') -%>