<%- include('../partials/head')-%>

<div class="reset-container">
    <div>
        <h3>Reset Your Password</h3>
        
        <form action="" method="POST">
            <div>
                <label for="">Email</label>
                <input type="email" name="" id="" placeholder="Input Your Email So We'll Send a reset link" required>
            </div>
            
            
                <button type="submit">SEND</button>

        
        </form>
    </div>
</div>
























<%- include('../partials/foot') -%>